*{
  margin: 0px;
}
.app{
  background-color: #fafafa;
}
.app_header{
  display: flex;
  position: sticky;
  top:0;
  z-index: 1;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid black;
  object-fit: contain;
  padding: 20px;
}
.app_header_image{
  object-fit: contain;
}

.app_signup{
  display: flex;
  flex-direction: column;
}

.app_login{
  display: flex;
  flex-direction: column;
}
.app_posts{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content:center;
  align-items: flex-start;
  align-content: flex-start;
}

.app_posts_right{
  margin-left: 20px ;
}